/*  ----------------------------- global variables */
:root {
  --calculator-bg: rgb(32, 32, 32);
  --text-dark: #fff;
  --text-light: rgb(113, 113, 113);
  --btn-hover-dark:rgb(64, 55, 55);
  --underline-color:rgb(243,128,100);
  --btn-bg-1:rgb(50,50,50);
  --btn-bg-hover-1:rgb(59,59,59);
  --hr-line:gray;
}
@font-face {
  font-family: EncodeSansSemiExpanded;
  src: url('../assets/EncodeSansSemiExpanded-Thin.ttf');
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
  background-color: var(--calculator-bg);
  color: var(--text-dark);
  font-family: EncodeSansSemiExpanded;
}
/*  -------------------------- calculator */
#calculator {
  display: grid;
  grid-template-columns: 80% 20%;
}

/* ------------------------ previous input */
#previousInput {
  text-align: right;
  letter-spacing: 0.1rem;
  height: 40px;
}

/* -------------------------- current input */
#currentInput {
  height: 40px;
}
#currentInput input {
  height: 40px;
  width: calc(100% - 7px);
  color: var(--text-dark);
  background: transparent;
  font-size: 2rem;
  border: none;
  outline: none;
  text-align: right;
}
/* -------------------------- history and memory section */
#historySection #buttons {
  padding-top: 1rem;
}
#historySection #buttons span {
  margin-left: 2rem;
  padding-bottom: 5px;
}
#historySection #buttons span:hover {
  cursor: pointer;
}

/* -----------------------deg and F-E  toggle buttons*/
#toggleButtons {
  margin-top: 2rem;
}
#toggleButtons button {
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  background: transparent;
  color: var(--text-dark);
  padding: 1rem 2rem;
  border: none;
  border-radius: 3px;
}
#toggleButtons button:hover {
  background: var(--btn-hover-dark);
}

#toggleButtons #exponentialNotation {
  position: relative;
  /* display: inline-block; */
  /* left: 5px; */
}

#toggleButtons #exponentialNotation.removeAfter::after {
  visibility: initial;
}
#toggleButtons #exponentialNotation::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  height: 2px;
  width: 8px;
  background-color: var(--underline-color);
  margin: 0 auto;
  visibility: hidden;
}
#memoryFunctions {
  margin-top: 0.5rem;
  padding-left: 8px;
}
#memoryFunctions button {
  padding: 0.5rem 1rem;
  background: transparent;
  border: none;
  color: var(--text-dark);
  padding: 1rem 1.5rem;
  border-radius: 2px;
  cursor: pointer;
}
#memoryFunctions button:hover {
  background: var(--btn-hover-dark);
}
#dropDownFunctions {
  margin-top: 1rem;
}

#dropDownFunctions button {
  color: var(--text-dark);
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  border: none;
}
#dropDownFunctions button span {
  font-size: 1.2rem;
  position: relative;
  bottom: 3px;
  color: var(--text-dark);
  padding-left: 5px;
}
#dropDownFunctions button:hover {
  background-color: var(--btn-hover-dark);
}

#operations {
  margin-top: 0.5rem;
}
#operations > div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
#operations button {
  padding: 1.4rem 0;
  margin: 1px;
  background: var(--btn-bg-1);
  color: var(--text-dark);
  border-radius: 4px;
  font-size: 0.8rem;
border: none;
}
#operations button:hover {
  background: var(--btn-bg-hover-1);
}
#line {
  border-color: var(--hr-line);
}

#memoryAndHistorySection {
  padding: 2rem;
}

/* ---------------------- trigonometric collpase functions */
#dropDownFunctions {
  position: relative;
}
#dropDownFunctions  #trigoFunctions, #dropDownFunctions #functions{
background: transparent;
}
#trigoCollapseFunctions {
  background-color: var(--calculator-bg);
  border-radius: 4px;
  padding: 4px;
  position: absolute;
  top: 20;
  z-index: 1;
  display: none;
}
#trigoCollapseFunctions button {
  background-color: var(--btn-bg-hover-1);
  margin: 0.1rem;
  padding: 0.8rem;
  cursor: pointer;
  width: 70px;
}

#functionCollapse {
  background-color: var(--calculator-bg);
  border-radius: 4px;
  position: absolute;
  padding: 4px;
  left: 100px;
  top: 20;
  z-index: 1;
  display: none;
}
#functionCollapse button {
  background-color: var(--btn-bg-hover-1);
  margin: 0.1rem;
  padding: 0.8rem;
  cursor: pointer;
  width: 60px;
}

/* -------------- global classes */
.displayNone {
  display: none;
}
.displayInitial {
  display: initial;
}
#eql_btn{
    background: var(--underline-color) !important;
}
sup,sub{
    vertical-align: baseline;
}
sup{
    position: relative;
    bottom: 3px;
}
sub{
    position: relative;
    top: 5px;
}
.selected{
  background: var(--underline-color) !important;
}
.light{
  background: var(--btn-bg-hover-1) !important;
}
.light-text{
  color: var(--text-light) !important;
}
/* -------------------------- responsive handling */
@media screen and (max-width:910px) {
#calculator #historySection{
  display: none;
}
#calculator{
  grid-template-columns: 100vw;
}
}